#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6.5%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #85E3FF;
	z-index: 10;
}
/*
* NAVIGATION BAR
*/
li.header-link {
	float: left;
}

li a.header-content {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;     /*TODO: find out why changing this to %s breaks them*/
	text-decoration: none;
	font-size: 150%;

	text-shadow:
		-1px -1px 0 rgb(125, 125, 125),
		1px -1px 0 rgb(125, 125, 125),
		-1px 1px 0 rgb(125, 125, 125),
		1px 1px 0 rgb(125, 125, 125);
}

li a.header-content:hover {
	background-color: #ACE7FF;
}

/*
* END NAVIGATION BAR
*/
body {
	background-color: white ;
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	width: 100%;
}

p {
	color: rgb(54, 54, 54);
	font-size: 110%;
	text-align: center;
	text-align: justify;
}

h1 {
	text-align: center;
	font-size: 500%;
	color: rgb(117, 117, 117);
}

h2 {
	text-align: center;
	font-size: 400%;
	color: rgb(117, 117, 117) ;
}

div {
	margin-left: 10%;
	margin-right: 10%;
}


#me {
	height: 50%;
	width: 50%;
}

#AboutMe {
	margin-top: 5%;
}

#Skills {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	position: relative;
}

#Interests {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	position: relative;
}

div.interest-box {
	display: inline-block;
	width: 30%;
}

div.skill-box {
	display: inline-block;
	width: 30%;
}

.Contacts {
	padding-bottom: 500%;
}

i.favi-skill {
	font-size: 500%;
	color:#FFCCF9;
}

i.favi-int {
	font-size: 500%;
	color:#FDFD96;
}

i.favi-link {
	font-size: 500%;
	color:#B399DD;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

i.favi-link:hover {
	color: #996FD6;
}

