#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: blue;
	z-index: 10;
}
/*
* NAVIGATION BAR
*/
li.header-link {
	float: left;
}

li a.header-content {
	display: block;
	color: honeydew;
	text-align: center;
	padding: 14px 16px;     /*TODO: find out why changing this to %s breaks them*/
	text-decoration: none;
}

li a.header-content:hover {
	background-color: darkblue;
}

/*
* END NAVIGATION BAR
*/
body {
	background-color: white ;
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

p {
	color: midnightblue;
	font-size: 110%;
	text-align: center;
	text-align: justify;
}

h1 {
	text-align: center;
	font-size: 500%;
	color: royalblue;
}

h2 {
	text-align: center;
	font-size: 400%;
	color: royalblue ;
}

div {
	margin-left: 10%;
	margin-right: 10%;
}

#AboutMe {
	margin-top: 5%;
}

